{#def
    on_url: str,
    available: list[str] = []
#}

<form.Select on_url={{on_url}}>
    <option value="">{{content}}</option>
    {% for expertise in available %}
        <option value="{{ expertise }}">
            {{ expertise | title }}
        </option>
    {% endfor %}
</form.Select>