{#def
    on_url: str,
    available: list[str] = []
#}

<form.Select on_url={{on_url}}>
    <option value="">{{content}}</option>
    {% for formation in available %}
        <option value="{{ formation }}">
            {{ formation | title }}
        </option>
    {% endfor %}
</form.Select>