{# def 
    on_url: str = "search",
    placeholder: str = "Search"
#}

<input type="text" name="{{on_url}}" placeholder="{{placeholder}}"
    class="block w-full max-w-xs px-4 py-2 rounded-lg 
    text-sm font-normal text-gray-900 bg-transparent bg-white/20
    shadow-xs border border-gray-300 placeholder-gray-400 leading-relaxed 
    focus:outline-none"
/>

<script>
    {
        const self = document.querySelector(`[name="{{on_url}}"]`)
        const value = new URLSearchParams(window.location.search)
            .get("{{on_url}}")

        if (value && self) self.value = value
    }
</script>