{#def on_url: str #}

<select name="{{on_url}}" class="Select block w-full max-w-xs px-4 py-2 rounded-lg 
    text-sm font-normal text-gray-900 bg-transparent bg-white/20
    shadow-xs border border-gray-300 placeholder-gray-400 leading-relaxed 
    focus:outline-none"
>
    {{content}}
</select>

<script>
    {
        const self = document.querySelector(`[name="{{on_url}}"]`)
        const selectedValue = new URLSearchParams(window.location.search)
            .get("{{on_url}}")

        const selectedOption = Array.from(self.options)
            .find(option => option.value === selectedValue)
        
        if (selectedOption) selectedOption.selected = true
    }
</script>