{#def
    placeholder: str,
    on_url: str,
    selected: str,
    available: list[str] = []
#}

<form.Select selected={{selected}} label={{content}} on_url={{on_url}}>
    <option value="">{{placeholder}}</option>
    {% for state in available %}
        <option value="{{ state }}">
            {{ state | upper }}
        </option>
    {% endfor %}
</form.Select>