{#def
    on_url: str,
    available: list[str] = []
#}

<form.Select on_url={{on_url}}>
    <option value="">{{content}}</option>
    {% for state in available %}
        <option value="{{ state }}">
            {{ state | upper }}
        </option>
    {% endfor %}
</form.Select>