<aside class="bg-white/90 backdrop-blur rounded-2xl shadow-md p-6 sticky top-6 space-y-6">
    <form method="get" action="/search" id="filters-form">
        <h2 class="text-xl font-semibold mb-4">Pesquisar</h2>
        <form.Search on_url="query" placeholder="Pesquisar por nome ou ID..."/>
        <div class="space-y-4 mt-6">
            <form.Attribute>
                <form.CountrySelect on-url="country" placeholder="Todos os países" 
                    available={{filters.countries}}>
                    País
                </form.CountrySelect>
            </form.Attribute>
            <form.Attribute>
                <form.StateSelect on-url="state" placeholder="Todos os estados" 
                    available={{filters.states}}>
                    Estado
                </form.StateSelect>
            </form.Attribute>
            <form.Attribute>
                <form.FormationSelect on-url="started" placeholder="Todas as formações" 
                    available={{filters.titles}}>
                    Formações iniciadas
                </form.FormationSelect>
                <form.OnlyFinishedFormation on-url="has-finished">
                    Apenas finalizadas
                </form.OnlyFinishedFormation>
            </form.Attribute>
            <form.Attribute>
                <form.ExpertiseSelect on-url="expertise" placeholder="Todas as áreas" 
                    available={{filters.expertises}}>
                    Áreas de atuação
                </form.ExpertiseSelect>
            </form.Attribute>
        </div>
        <form.Button type="submit">Buscar</form.Button>
    </form>
    <form.Button onclick="window.location.href='/'">Remover filtros</form.Button>
</aside>
