<layout.Page subtitle="Busca por pesquisadores" current-page={{page}} >
  <div class="grid lg:grid-cols-[350px_1fr] gap-6 items-start">
    {% include "components/filters.html" %}

    <div class="bg-white/90 backdrop-blur rounded-2xl shadow-md p-6 min-h-[600px]">
      <div class="flex justify-between items-center mb-6 border-b border-gray-100 pb-4">
        <h3 class="text-gray-600 font-semibold mb-2">Página {{ page }}</h3>
        {% if results|length %}
          <h4 class="text-gray-600 text-base font-semibold mb-2">
            {{ results|length }}
            {% if results|length == 1 %}
              pesquisador encontrado para esta página.
            {% else %}
              pesquisadores encontrados para esta página.
            {% endif %}
          </h4>
        {% endif %}
        <ui.OrderSelect selected={{order}} />
      </div>

      {% if results %}
        {% for researcher in results %}
          {% include "components/researcher_card.html" %}
        {% endfor %}
        <div class="flex justify-center mt-8">
          <nav class="inline-flex -space-x-px">
              <a href="?query={{ query }}&sort={{ order }}&country={{ choosen_filters.country }}&state={{ choosen_filters.state }}&started={{ choosen_filters.started }}&has_finished={{ choosen_filters.has_finished }}&expertise={{ choosen_filters.expertise }}&page={{ page + 1 }}" 
                class="px-3 py-1 border rounded-l bg-gray-100 hover:bg-gray-200">
                  Carregar mais
              </a>
          </nav>
        </div>
      {% else %}
        <div class="text-center py-24 text-gray-600">
          <h3 class="text-lg font-semibold mb-2">Página {{ page }}</h3>
          <h4 class="text-lg font-semibold mb-2">
            Nenhum pesquisador encontrado para esta página. 
          </h4>
        </div>
      {% endif %}
    </div>
    <script>
      document.getElementById('sort-select').addEventListener('change', function() {
        document.getElementById('filters-form').submit();
      });
    </script>
  </div>
</layout.Page>
