{#def
    results: list,
    filters: dict,
    page: int
#}

<layout.Page subtitle="Busca por pesquisadores" current-page={{page}}>
    <div class="grid lg:grid-cols-[350px_1fr] gap-6 items-start">

        <search.FiltersAside countries={{filters.countries}}
            states={{filters.states}}
            titles={{filters.titles}}
            expertises={{filters.expertises}}
        />

        <section class="bg-white/90 backdrop-blur rounded-2xl shadow-md p-6 min-h-[600px]">
            <header class="flex justify-between items-center border-b border-gray-100 pb-4
                text-gray-600 font-semibold">
                <search.PageCount page={{page}}/>
                {% if results %}
                    <search.ResearcherCount researchers={{results}}/>
                {% else %}
                    <div><!-- Placeholder --></div>
                {% endif %}
                <ui.OrderSelect id="order-selection" forms-id="filters-form" for_param="sort" />
            </header>

            {% if results %}
                <main>
                    {% for researcher in results %}
                    <researcher.Card researcher={{researcher}} />
                    {% endfor %}
                    <search.NextPageButton id="next-page" for-param="page">Carregar mais</search.NextPageButton>
                </main>
            {% else %}
                <main class="text-center py-24">
                    <search.ResearcherCount researchers={{results}}/>
                    <p>Tente ajustar os filtros ou use uma palavra-chave diferente</p>
                </main>
            {% endif %}
        </section>
    </div>
</layout.Page>
