{#def researcher, on_click: str #}

{#

    Card
    ----

    A researcher profile card component displaying key data such as name, titles, institution, address,
    specialities, and abstract. Combines multiple researcher components into a styled, interactive block.

    Usage
    -----

    To render a complete profile card:

        <researcher.Card researcher={{r}} />

    This component includes:

    - <researcher.Profile/>
    - <researcher.Nationality/>
    - <researcher.HighestAcademicTitle/>
    - <researcher.Institution/>
    - <researcher.Address/>
    - <researcher.Specialities/>
    - <researcher.Abstract/>

    This component includes:

    - <researcher.Profile/>
    - <researcher.Nationality/>
    - <researcher.HighestAcademicTitle/>
    - <researcher.Institution/>
    - <researcher.Address/>
    - <researcher.Specialities/>
    - <researcher.Abstract/>

#}


<section id="researcher-{{researcher.links.lattes.id}}" 
    class="w-full bg-white border-2 border-gray-100 rounded-xl p-6 mb-6
    hover:border-indigo-400 hover:shadow-lg hover:-translate-y-1 transition cursor-pointer">
    <researcher.Profile 
        name={{researcher.this.name}} 
        lattes={{researcher.links.lattes}}
        orcid={{researcher.links.orcid}}
    />

    <ul class="list-none mb-4 space-y-1 text-sm">
        <researcher.Nationality value={{researcher.this.nationality}} />
        <researcher.HighestAcademicTitle 
            name={{researcher.curriculum.titles.highest}}
            at={{researcher.curriculum.titles.highest.begin}}
            until={{researcher.curriculum.titles.highest.finish}}
        />
        <researcher.Institution name={{researcher.professional.institution}} />
        <researcher.Address value={{researcher.professional.address}} />
    </ul>

    <researcher.Specialities specialities={{researcher.curriculum.expertises.specialities}}/>
    <researcher.Abstract label="Resumo do currículo">
        {{ researcher.curriculum.abstract.brief }}
    </researcher.Abstract>

</section>

<script type="module">
    window.selectedResearchers = JSON.parse(localStorage.getItem("selectedResearchers") || "{}")

    document.addEventListener("DOMContentLoaded", () => {
        const researcherName = "{{researcher.this.name}}"
        const researcherId = "{{researcher.links.lattes.id}}"
        const cardId = "researcher-" + resId
        let card = document.getElementById(cardId)
        
        if (!card) return

        if (window.selectedResearchers[researcherId])
            card.classList.add("border-purple-500")

        card.addEventListener("click", () => {
            if (window.selectedResearchers[researcherId]) {
                delete window.selectedResearchers[researcherId]
                card.classList.remove("border-purple-500")
            } else {
                window.selectedResearchers[researcherId] = researcherName
                card.classList.add("border-purple-500")
            }

            let body = JSON.stringify(window.selectedResearchers)
            localStorage.setItem("selectedResearchers", body)
        })
    })
</script>
