{#def 
    researcher: str, 
    at: str, 
    action: str, 
    on_click: str 
#}

{#
    Export
    ------
    Container that adds the export feature.

    Parameters
    ----------
    * researcher: researcher ID
    * at: base URL path (e.g. "/researcher")
    * action: endpoint action (e.g. "export")
    * on-click: Javascript associated function that takes the ID as parameter. 

#}

<div {{attrs.render()}} onclick="{{on_click}}(this.dataset.researcherId)"
     data-researcher-id="{{ researcher }}"
     data-endpoint="{{ at }}"
     data-action="{{ action }}">
  {{ content }}
</div>
