{#def
    name: str,
    lattes_id: str
#}

{% set name = name | string %}
{% set initials = name | words | map(attribute=0) | join('') %}

<div class="flex items-center mb-4">
    <div class="w-16 h-16 rounded-full bg-gradient-to-br from-indigo-500 to-purple-500 text-white flex items-center justify-center font-bold text-xl mr-4">
        {{ initials[0] ~ initials[-1] }}
    </div>
    <div>
        <h2 class="text-xl font-semibold">{{name}}</h2>
        <p class="text-sm text-gray-600 font-mono">ID: {{lattes_id}}</p>
    </div>
</div>