{#def 
    id: str,
    triggers: str,
#}

{# 

    Export All Button
    -----------------

    A button component that allows users to export all researchers based on current search filters.
    The button constructs a URL with the current query string parameters to ensure the export
    respects the active filters.

#}

<a id="{{id}}" class="w-full" href="#" onclick="event.preventDefault(); window.{{triggers}}();">
    <form.Button>{{content}}</form.Button>
</a>