{#def 
    countries: list,
    states: list,
    titles: list,
    expertises: list
#}

<aside class="bg-white/90 backdrop-blur rounded-2xl shadow-md p-6 sticky top-6 space-y-6">
    <form method="get" action="/search" id="filters-form">
        <form.Label of="query">Pesquisar</form.Label>
        <form.Search on_url="query" placeholder="Pesquisar por nome ou ID..."/>
        <div class="space-y-4 my-6">
            <form.Attribute>
                <form.Label of="country">País</form.Label>
                <form.CountrySelect on-url="country" available={{countries}}>
                    Todos os Países
                </form.CountrySelect>
            </form.Attribute>
            <form.Attribute>
                <form.Label of="state">Estado</form.Label>
                <form.StateSelect on-url="state" available={{states}}>
                    Todos os estados
                </form.StateSelect>
            </form.Attribute>
            <form.Attribute>
                <form.Label of="started">Formações iniciadas</form.Label>
                <form.FormationSelect on-url="started" available={{titles}}>
                    Todas as formações
                </form.FormationSelect>
                <form.OnlyFinishedFormation on-url="has-finished">
                    Apenas finalizadas
                </form.OnlyFinishedFormation>
            </form.Attribute>
            <form.Attribute>
                <form.Label of="expertise">Areas de atuação</form.Label>
                <form.ExpertiseSelect on-url="expertise" available={{expertises}}>
                    Todas as areas
                </form.ExpertiseSelect>
            </form.Attribute>
        </div>
        <form.Button type="submit">Buscar</form.Button>
        <form.Button onclick="window.location.href='/'">Remover filtros</form.Button>
    </form>
</aside>
