{# def 
    id: str,
    for_param: str
#}

{# 
    Documentation
    -------------

    This component increases the `parameter` and reloads the page,
    asking the server the next page with the same queries.

    `id`: HTML ID for this element.
    `for_param`: target URL parameter to be incremented.

    Usage
    -----

    If you have the URL: "https://{{your.website.com}}/?page=1", use it like:

        <NextPageButton id="next-page" for="page">
            Next Page
        </NextPageButton>

    And this gonna open: "https://{{your.website.com}}/?page=2".

    i.e. "step", you may have:

        <NextPageButton id="next-step" for="step">
            Step {{current_step + 1}}
        </NextPageButton>

#}

<a id={{id}} href="#" class="block w-full max-w-[16rem]">
    <form.Button>{{ content }}</form.Button>
</a>

<script>
document.getElementById('{{id}}').addEventListener('click', function (e) {
    e.preventDefault();

    const url = new URL(window.location.href);
    const params = url.searchParams;

    let currentPage = parseInt(params.get("{{for_param}}")) || 1;
    params.set("{{for_param}}", currentPage + 1);

    url.search = params.toString();
    window.location.href = url.toString();
});
</script>
