{#def researchers: list = [] #}

{% set count = researchers | length %}

<h4 class="text-gray-600 text-base font-semibold mb-2">
{% if count == 1 %} 
    {{count}} pesquisador encontrado
{% elif count > 1 %}
    {{count}} pesquisadores encontrados
{% else %}
    Nenhum pesquisador encontrado
{% endif %}
    para esta página.
</h4>