
<div {{ attrs.render() }} class="relative">
  	<button
    	type="button"
    	class="absolute top-2 right-2 bg-gray-100 hover:bg-gray-200 border border-gray-300 p-1.5 rounded-md cursor-pointer text-gray-700"
    	onclick="navigator.clipboard.writeText(
				this.parentElement.querySelector('code').innerText
			).then(() => { 
				this.innerHTML = '<i class=&quot;bi bi-clipboard-check&quot;></i>'
				setTimeout(() => { 
					this.innerHTML = '<i class=&quot;bi bi-clipboard&quot;></i>'
				}, 2000)
			})"
  >
		<i class="bi bi-clipboard"></i>
  	</button>

  	<pre class="m-0 p-10 pt-14 bg-gray-50 rounded-lg whitespace-pre-wrap break-words max-h-[60vh] overflow-auto"><code>{{ content }}</code></pre>
</div>

