{#def id: str #}

{# 
    Documentation
    -------------

    ID describes an html element's id that is at the position 
    you want this button to leaves the user to.

    Usage
    -----
            <header id="top">...</header>
            ...
            <GoTopButton id="top"/>

#}

<a href="#{{id}}" id="go-top-button" title="{{content}}"
    class="hidden fixed bottom-5 right-5 z-50 
        bg-white text-purple-600 w-12 h-12 
        flex items-center justify-center rounded 
        hover:bg-gray-100">
    ↑
</a>
<script>
    const btn = document.getElementById("go-top-button");
    window.addEventListener("scroll", () => {
        btn.classList.toggle("hidden", window.scrollY <= 300);
    });
</script>