{#def value: str, selected: str #}

{#

    Option
    ------

    A custom `<option>` element that sets the selected attribute based on user preference.

    `value`: the value of this option.
    `selected`: the current selected value to compare against.

    Content
    -------
    The visible text inside the option.

    Usage
    -----

    To create options with dynamic selection:

        <select name="cars-color">
            <ui.Option value="white" selected={{user_preference}}>Snow</ui.Option>
            <ui.Option value="blue" selected={{user_preference}}>Midnight Blue</ui.Option>
            <ui.Option value="purple" selected={{user_preference}}>Purple Mustang</ui.Option>
        </select>

#}


<option value={{value}} 
    {% if selected == value %}selected{% endif %}>
    {{ content }}
</option>