
{#

    Pill
    ----

    A styled pill-shaped list item used to highlight tags or labels.

    Usage
    -----

    To create a pill label:

        <ui.Pill>Example</ui.Pill>

#}


<li class="bg-gradient-to-r from-indigo-500 to-purple-500 
    text-white text-xs font-medium 
    px-3 py-1 rounded-full">
    {{ content }}
</li>