
{#

    SubTitle
    --------

    A styled paragraph component for subtitles or section headings.

    Content
    -------
    The text displayed as the subtitle.

    Usage
    -----

    To create a centered subtitle:

        <ui.SubTitle>Section Title</ui.SubTitle>

#}


<p class="text-gray-600 domine-regular text-lg text-center">
    {{ content }}
</p>