
{#

    Title
    -----

    A large, styled heading component with gradient text and centered alignment.

    Content
    -------
    The text displayed inside the title.

    Usage
    -----

    To create a page or section title:

        <ui.Title>My Awesome Title</ui.Title>

#}


<h1 class="text-7xl font-bold sail-regular text-center mb-2
    text-transparent bg-gradient-to-r to-indigo-600 from-violet-400 bg-clip-text">
    {{ content }}
</h1>
